body
{
background-image:url(images/gradient.png);
background-repeat:repeat-x;
    background-color: #129bd2;
} 

ul
{
list-style-type:none;
margin:11;
padding:11;

} 
#testofile 
{

    font-size: 30px;
}
#welcome
{
    text-align: center;
}
#welcomeinfo
{
    text-align: right;
}
#goodtimes

{
left: 50%;
    right 50%;
}
